<a href="https://colab.research.google.com/github/Gyanendra079/Capstone-Project---Introduction-to-Computer-Programming/blob/main/Capstone_Project_Introduction_to_Computer_Programming_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Python Programming**

## Score Board Operator
An operator working behind the scoreboard of a inter cohort AlmaBetter cricket tournament, is responsible for updating the scores and points of each team. However, the operator is currently facing a challenge. He has been tasked with updating the total number of points gained by Team London, but he does not possess the necessary programming skills to complete this task.
According to the tournament's rules, teams are awarded the following points based on the outcome of a match:

* wins: 3 points
* draws: 1 point
* losses: 0 points




Team London has played **8 matches** in this tournament. They won **4 matches**, lost **3 matches** and **drew 1**.
The operator is in need of assistance to calculate the total number of points earned by Team London. As a python expert adept with knowledge of integer, floats and boolean, you can help the operator by writing a solution for the following problem.

What would your approach be?

In [42]:
# Define the points for different outcomes
points_for_win = 3
points_for_draw = 1
points_for_loss = 0

# Count the number of wins, draws, and losses
wins = 4
draws = 1
losses = 3

# Calculate the total points
total_points = (wins * points_for_win) + (draws * points_for_draw) + (losses * points_for_loss)

# Print the total points earned by Team London
print("Total points earned by Team London:", total_points)

Total points earned by Team London: 13

## Space and Time Complexity
 Time complexity of O(1) and a space complexity of O(1) because it performs a fixed number of operations and uses a fixed amount of memory regardless of the input values.

## Nutrition bar ingredient chart

Imagine you are a data analyst at a nutrition bar manufacturing company. Your department head approaches you with a question. The company produces a nutrition bar that contains **45g of raisins, 65g of almonds, and 30g of apricots**. The head of the manufacturing department wants you to create an ingredient percentage list for the nutrition bar using python.

Equipped with the knowledge of int, float and booleans in python, how would you approach this situation?

In [43]:
# Define the weights of each ingredient in grams
weight_raisins = 45
weight_almonds = 65
weight_apricots = 30

# Calculate the total weight of all ingredients
total_weight = weight_raisins + weight_almonds + weight_apricots

# Calculate the percentage of each ingredient
percentage_raisins = (weight_raisins / total_weight) * 100
percentage_almonds = (weight_almonds / total_weight) * 100
percentage_apricots = (weight_apricots / total_weight) * 100

# Print the ingredient percentages
print("Ingredient Percentage List:")
print("Raisins:", round(percentage_raisins,2),"%")
print("Almonds:", round(percentage_almonds,2), "%")
print("Apricots:", round(percentage_apricots,2), "%")

Ingredient Percentage List:
Raisins: 32.14 %
Almonds: 46.43 %
Apricots: 21.43 %

## Space and Time Complexity
A time complexity of O(1) and a space complexity of O(1) because it performs a fixed number of operations and uses a fixed amount of memory regardless of the input values.

## Measuring the Accuracy of a Disease Detection Model- Optional

If you're not impressed with these usecases yet, understand that you're just getting started with python. Going forward as a data scientist, you'll be using what you've learned to design machine learning models that just might even save lives!!

Let's say you have created a machine learning model to detect diseases in patients based on their symptoms and medical history. The model has been tested on a dataset of **100 patients**, including **30 with diabetes**, **45 with heart disease**, and **25 with cancer**.
The model's performance was evaluated in three rounds.
In the first round, the model correctly **detected diabetes in 25 out of the 30 patients** with the disease.
In the second round, the model correctly detected **heart disease in 35 out of the 45 patients** with the disease.
In the final round, the model correctly **detected cancer in 20 out of the 25 patients** with the disease.

The model's accuracy is defined as the percentage of correctly detected cases out of the total number of patient

Assess how accurate your model is across these 3 diseases.

In [44]:
# Define the number of patients with each disease
patients_diabetes = 30
patients_heart_disease = 45
patients_cancer = 25

# Define the number of correctly detected cases for each disease
correctly_detected_diabetes = 25
correctly_detected_heart_disease = 35
correctly_detected_cancer = 20

# Calculate the accuracy for each disease
accuracy_diabetes = (correctly_detected_diabetes / patients_diabetes) * 100
accuracy_heart_disease = (correctly_detected_heart_disease / patients_heart_disease) * 100
accuracy_cancer = (correctly_detected_cancer / patients_cancer) * 100

##Space and Time Complexity
Time complexity of O(1) and a space complexity of O(1) because it performs a fixed number of operations and uses a fixed amount of memory regardless of the input values.

# **Data Types in Python**

You must remember the algebraic equations and functions you came across during your school days. If you do, you also must remember how tedious it was to do solve them manually. üò´
Consider a quadratic function:

***f(x)=x^2+3x-4***

Find the value of f(x) at x =3 , x=-2, and x=4

Doing this manually like the old days would be a tedious job üòû. But now you have python at your disposal üôÇ !
How would you approach this problem using what you have learned?

In [45]:
# Calculate the value of the function f(x) at x = 3
func_evaluated_at_3 = 3**2 + 3*3 - 4

In [46]:
# Calculate the value of the function f(x) at x = -2
func_evaluated_at_minus2 = (-2)**2 + 3*(-2) - 4

In [47]:
# Calculate the value of the function f(x) at x = 4
func_evaluated_at_4 = 4**2 + 3*4 - 4

In [48]:
#Check if func_evaluated_at_3 >= func_evaluated_at_minus2
print(func_evaluated_at_3 >= func_evaluated_at_minus2)

True

In [49]:
#Check if value of f(x) at 3,-2 or 4 is equal to 0 or not
print("The value of f(x) at 3 :",func_evaluated_at_3)
print("The value of f(x) at -2 :",func_evaluated_at_minus2)
print("The value of f(x) at 4 :",func_evaluated_at_4)

The value of f(x) at 3 : 14
The value of f(x) at -2 : -6
The value of f(x) at 4 : 24

##Space and Time Complexity
Time complexity of O(1) and a space complexity of O(1)

## Finding total A's in the Bookshelves

In your pursuit of expanding your knowledge of Python, you come across a bookstore in search of books on the subject.

There, you meet a salesperson who is also a Python enthusiast!!

The salesperson presents you with a challenge - they have a list of five books related to Python and if you can write a program that finds the count of letter 'e', the store will give you a free book of your choice. üòÄ

Are you ready to accept the challenge? üí™

In [50]:
# Here's the list of books
books = "Python for Everyone, Learn Python the Hard Way, Python Crash Course , Starting Out with Python, Automate the Boring Stuff with Python"

In [51]:
# Store the count of books containing A/a in the title. Note this will be a case insensitive search
a_counts = sum(1 for char in books if char=='a')

A_counts= sum(1 for char in books if char=='A')

total_a_counts= a_counts + A_counts

In [52]:
# Print the value
print(f"The total number of 'a's in the list of books is {total_a_counts}")

The total number of 'a's in the list of books is 7

##Space and Time Complexity
Time complexity of O(n) and a space complexity of O(1), where 'n' is the length of the books string.

## Unleashing the Power of Mean in Exam Analysis

When analyzing exam scores, teachers have the power to unlock valuable insights into their students' performance. By using the mean and median, they can get a clear picture of how the class is doing as a whole and identify areas where improvement is needed.

The mean score is like a report card for the entire class, showing the average of all exam scores. It gives a good general idea of how the class is doing but can be influenced by a few students with extremely high or low scores.

By analysing the mean, teachers can get a complete picture of the class performance and make informed decisions to improve the learning experience for their students. So go ahead and use these powerful tools to take your students' exam scores to the next level! üí™

In [53]:
# List of student marks
marks = [67,87,75,46,89,97,68,98,87,88]

In [54]:
# Calculate the mean of the marks. Use sum() and len() functions
mean_marks = sum(marks)/len(marks)

In [55]:
print(mean_marks)

80.2

##Space and Time Complexity
The code has a time complexity of O(n) and a space complexity of O(1), where 'n' is the number of elements in the marks list


## John's Fruit Stand Sales Mix-up

You must remember from the previous lessons that dictionaries can be used to store values corresponding to a particular key. But how is this helpful to us?

Let's look at this scenario:

Jim owns a quaint little fruit stand that sells mangoes, bananas, apples, and pineapples. One day, with Jim being tied up, he tasked his son John to manage the shop for a day. Being new to the game, John recorded the sales data in an unconventional way. He wrote down the name of each fruit as many times as it was sold, creating a list like this:

**['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple']**
ü§¶

But, this method is not very efficient or easy to read.

Forunately you were there at the shop to grab some apples yourselves, and you saw what John was doing.

You can help him out to structure the data by using dictionaries. How?

In [56]:
#Here's John's list:
fruit_list=['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple']

In [57]:
# Step 2: Create an empty dictionary which will contain the unique fruit names
fruit_dict={}

# Set the values for each key separately

# First Key
fruit_dict['Mango']= fruit_list.count('Mango')

# Second Key
fruit_dict['Pineapple']= fruit_list.count('Pineapple')

# Third Key
fruit_dict['Apple']= fruit_list.count('Apple')

# Fourth Key
fruit_dict['Banana']= fruit_list.count('Banana')

In [58]:
print(fruit_dict)

{'Mango': 4, 'Pineapple': 6, 'Apple': 5, 'Banana': 2}

## Space and time complexity
The code has a time complexity of O(n) and a space complexity of O(1) or O(k), where 'n' is the number of elements in the fruit_list and 'k' is the number of unique fruit names.

# **Indexing & Slicing**

## Imagine that you are a superhero movie buff and you're trying to create a list of the most iconic Marvel characters. You have compiled a list of some of the most popular characters, but you want to narrow it down to the top 6.

Here's your list of characters:

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

In [59]:
# Here's your list of characters:

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

You want to narrow down the list to the last 6 characters in the list. These characters are:

* Namor
* Doctor Strange
* Wolverine
* Captain America
* Black Widow
* Thor

In [60]:
# Replace x with appropriate values
new_marvel=marvel_words[5:]
print(new_marvel)

['Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

## Create two teams of superheroes based on their index position: one team should consist of all the characters located at even index positions, while the other team should consist of all the characters located at odd index positions.

In [61]:
team1=marvel_words[0::2]
team2=marvel_words[1::2]
print("Team 1 :",team1)
print("Team 2 :",team2)

Team 1 : ['Avengers', 'Spider-Man', 'Hulk', 'Black Widow', 'Wolverine', 'Namor']
Team 2 : ['X-Men', 'Iron Man', 'Thor', 'Captain America', 'Doctor Strange']

###3. Store the word 'Spider-Man' in a new variable, and slice the word 'Spider' from it.

In [62]:
spider_man=marvel_words[2]
spidey_sliced=spider_man[7:]
print(spidey_sliced)

Man

###4. Store the word 'Iron-Man' in a variable and use reverse indexing to reverse it.

In [63]:
#Your code here
iron_man=marvel_words[3]
reversed_man=iron_man[::-1]
print(reversed_man)

naM norI

##Time and Space Complexity
Let's analyze the time and space complexity of each part of the provided code:

new_marvel = marvel_words[5:] : Both the time and space complexity of this operation are O(n), where 'n' is the length of the original marvel_words list.

team1 = marvel_words[0::2] and team2 = marvel_words[1::2] :The time complexity of both operations is O(n), and the space complexity is also O(n) because the slices create new lists with approximately half the size of the original list.

spider_man = marvel_words[2] and spidey_sliced = spider_man[7:]: Both operations have a time complexity of O(1) because they involve accessing specific elements of the list and string slicing, which are constant time operations. The space complexity is also O(1) because only string references are created.

iron_man = marvel_words[3] and reversed_man = iron_man[::-1]: Both operations have a time complexity of O(m), where 'm' is the length of the string (in this case, the length of the word "Iron Man"). The space complexity is O(m) because a new string of the same length is created to store the reversed word.

# **Operators in Data Types**


## üéâ Let's do some math!

* üìê First up, let's calculate the area of a square with sides that measure 5 cm. ü§î How much space does this shape occupy?

* üîç Next, let's find the volume of a cube with sides that measure 12 cm. üìè How much room does this shape take up?

* üî¢ Lastly, we'll find the quotient and remainder when we divide 10 by 4. üßê How many times does 4 fit into 10? What's left over?

In [64]:
# Area of the square
side = 5
ar_square=side**2
print("Area of the square",ar_square)

# Volume of the cube
edge = 3
vol_cube=edge**3
print("Volume of cube :",vol_cube)

# quotient and remainder
numerator = 10
denominator = 4

quotient=numerator//denominator
remainder=numerator % denominator

print("Remainder :",remainder)
print("Quotient :",quotient)

Area of the square 25
Volume of cube : 27
Remainder : 2
Quotient : 2

##Time and Space Complexity


1.   The time complexity of all operations is O(1) because they involve simple arithmetic calculations that do not depend on the size of any input.
2.   The space complexity is also O(1) because a fixed number of variables are used, and their memory usage does not depend on the size of any input.

## üìö Let's practice some comparison operators! Here's a problem for you to solve:

üçé The first basket contains 12 apples, and the second basket contains 8 apples. Use comparison operators to answer the following questions:

* Is the number of apples in the first basket greater than the number of apples in the second basket?

* Is the number of apples in the second basket less than or equal to the number of apples in the first basket?
* Is the number of apples in the first basket equal to the number of apples in the second basket?
* Is the number of apples in the second basket not equal to the number of apples in the first basket?

Use comparison operators (i.e. >, >=, <, <=, ==, !=) in your code to answer each question. Good luck! üçéüçè

In [65]:
# Your code here
basket1=12
basket2=8
# number of apples in the first basket greater than the number of apples in the second basket?
print('Apples in basket1 greater than basket2:',basket1 > basket2)

# number of apples in the second basket less than or equal to the number of apples in the first basket?
print('Apples in basket2 less than or equal to basket1:',basket1 >= basket2)

# number of apples in the first basket equal to the number of apples in the second basket?
print('Apples in basket1 equal to basket1:',basket1 == basket2)

# number of apples in the second basket not equal to the number of apples in the first basket?
print('Apples in basket1 not equal to basket1:',basket1 != basket2)

Apples in basket1 greater than basket2: True
Apples in basket2 less than or equal to basket1: True
Apples in basket1 equal to basket1: False
Apples in basket1 not equal to basket1: True

##Space and Time Complexity
They have both space and time complexity of O(1)

## üå¥ Are you ready for your trip to Goa? üåä You've got two bags with you, and you need to make sure they're light enough to board the flight. Let's use some logical operators to find out if you can make it on time!

üß≥ One of your bags weighs 15 kg, while the other one weighs only 5 kg. üí™ You know you can pack a lot more in the heavier bag, but you have to be careful not to go over the weight limit.

üëÆ‚Äç‚ôÄÔ∏è The airline has a strict policy that both of your bags must weigh less than 13 kg each. Can you make it on the flight? Let's use logical operators to find out!

In [66]:
# Define the weight of your bags
bag1_weight = 15
bag2_weight = 5


# Check if both bags weigh less than 13 kg
if bag1_weight < 13 and bag2_weight < 13:
  print("Enjoy your trip!")
else:
  print("Sorry, You can not go through!")

Sorry, You can not go through!

üß≥ Uh oh, it looks like we have a problem with our bags! But don't worry, the crew has offered a solution. üòä

üë®‚Äç‚úàÔ∏è They've said that if at least one of our bags weighs less than 6 kg, we can still board the flight this time. üõ´

ü§î Are we ready for the trip or not? Let's use some logical operators to find out!

In [67]:
# Define the weight of your bags
bag1_weight = 15
bag2_weight = 5

# Check if at least one bag weighs less than 6 kg
if bag1_weight<6 or bag2_weight<6:
  print("Enjoy your trip!")
else:
  print("Sorry, You can not go through!")

Enjoy your trip!

ü§î Did you notice how we made a decision on which print statement to use based on the result of our logical operators? ü§î

üöÄ Later on, we're going to learn how to do this in a single step, making it even easier for you. So stay curious üòé

##Space and Time Complexity
They have both space and time complexity of O(1)

## üìö Imagine that you're a book lover with a collection of lot of books. ü§ì

üîé You need to find out how many of your books contain the word "Python" in them. üêç

In [68]:
books = [
    "Python for Data Science Handbook by Jake VanderPlas",
    "The Pragmatic Programmer by Andrew Hunt and David Thomas",
    "Python Machine Learning by Sebastian Raschka",
    "The Alchemist by Paulo Coelho",
]

In [69]:
count = 0
for book in books:
  if "Python" in book.split(" "):
      count += 1

In [70]:
print("The number of books containing the word Python :",count)

The number of books containing the word Python : 2

 The title of the book is not written in the correct cases as well. Make corrections there.

In [71]:
list_ = []
for book in books:
  list_.append(book.upper())
print(list_)

['PYTHON FOR DATA SCIENCE HANDBOOK BY JAKE VANDERPLAS', 'THE PRAGMATIC PROGRAMMER BY ANDREW HUNT AND DAVID THOMAS', 'PYTHON MACHINE LEARNING BY SEBASTIAN RASCHKA', 'THE ALCHEMIST BY PAULO COELHO']

## Space and Time Complexity
 Time complexity of O(n) and a space complexity of O(1), where 'n' is the number of books in the books list

# **In-Built Functions & Methods**

## Here is a string for you to work with:

In [72]:
# Here is the statement.

statement = "anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend."

In [73]:
print(statement)

anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

1. Create a list containing the three sentences in the statement.
Hint: Use split() method.

In [74]:
# Create a list containing the three sentences in the statement.

sentence_list= statement.split('.')
print(sentence_list)

["anas eagerly recommended 'the shawshank redemption' to his friends", ' He described the movie as a captivating and emotional story of hope and friendship', ' His friends decided to watch it together the following weekend', '']

2. The name 'anas' is spelled wrong. Replace it with 'Anas'.

In [75]:
# The name 'anas' is spelled wrong. Replace it with 'Anas'.

statement_1 = sentence_list[0].replace("anas","Anas")   #Redefine the statement, with the correction.
print(statement_1)

Anas eagerly recommended 'the shawshank redemption' to his friends

3. You believe "The Shawshank Redemption" would be bit too gloomy for the lot. Take user input of which movie to recommend and replace "The Shawshank Redemption" from the statement with the new recommendation.

In [76]:
# Change the recommendation of movie to one, of your choice.
# Take input of movie

new_movie=input("Which movie wold you recommend? ")
statement_1 = statement_1.replace('the shawshank redemption',new_movie)
print(statement_1)

Which movie wold you recommend? Pearl Harbour
Anas eagerly recommended 'Pearl Harbour' to his friends

##Space and Time Complexity


1.   Time complexity: O(n + 2m), where n is the length of the original statement, and m is the length of the first sentence.
2.   Space complexity of the code is O(n + m), where n is the length of the original statement, and m is the length of the first sentence.

## üé• Suppose you have a collection of your favorite movies üçøüéûÔ∏è and you want to keep track of them using a Python list üìú. You start with an empty list [] and keep adding new movies üÜï to it. You also want to be able to remove movies ‚ùå that you have watched or no longer wish to keep in your collection. Finally, you want to be able to count üî¢ how many movies you have in your collection and reverse the order of the list üîÑ.

In [77]:
# Start with an empty list
movie_collection = []

# Add some movies to the collection using the append() method
movie_collection.append("Avengers") # Use your favourite movie names
movie_collection.append("Iron Man")
movie_collection.append("Thor")
movie_collection.append("Justice League")
movie_collection.append("Fantastic 4")

# Print the current collection of movies
print("My Movie Collection:", movie_collection)

# Remove a movie from the collection using the pop() method
movie_collection.pop()

# Code to remove index 3 here
movie_collection.pop(3)
print("After removing movie 4", movie_collection)


# Count how many movies are in the collection
num_movies = len(movie_collection)
print("Number of movies:", num_movies)

# Reverse the order of the list using the reverse() method
movie_collection_rev = sorted(movie_collection,reverse=True)

print("Reversed movie collection:", movie_collection_rev)

My Movie Collection: ['Avengers', 'Iron Man', 'Thor', 'Justice League', 'Fantastic 4']
After removing movie 4 ['Avengers', 'Iron Man', 'Thor']
Number of movies: 3
Reversed movie collection: ['Thor', 'Iron Man', 'Avengers']

##Time complexity:
1.   Adding movies: O(1) per movie
1.   Removing a movie by index: O(n) per removal (worst case)
2.   Counting movies: O(1)
2.   Reversing the list: O(n*log(n))

##Space complexity
1.   movie_collection: O(n)
2.   movie_collection_rev: O(n)

## üë©‚Äçüè´ A teacher has stored the names of his students in a tuple as follows:
('Adam','Alice','Ben','Bilal','Bharath')

üë®‚Äçüéì Their role numbers are defined as their index number + 1.

üñ•Ô∏è Write a program which would take the name of the student as input and return their role number.

In [78]:
student_tuple=('Adam','Alice','Ben','Bilal','Bharath')

In [79]:
# Take input from user and display role number as index of the input + 1
student=input("Input the student name to get roll number - ")
print(student,"'s roll number is: ", student_tuple.index(student)+1)

Input the student name to get roll number - Bilal
Bilal 's roll number is:  4

##Space and Time Complexity
*   Time Complexity O(n) in the worst case because it may need to traverse the entire tuple to find the index.
*   Space complexity is constant O(1)

## A store üè™ sells different types of fruits üçéüçåüçáüçì in baskets üß∫. The storekeeper üßë keeps track of the availability of each fruit type in separate sets. The storekeeper wants to know which fruits are available in both baskets, which fruits are unique to each basket, and the total number of fruits available. ü§î

In [80]:
# Define sets for fruits in each basket
basket1 = {'apple', 'banana', 'grape', 'orange'}
basket2 = {'banana', 'mango', 'pineapple', 'orange'}

# Find the total number of fruits available
total_fruits = len(basket1.union(basket2))
print("Total number of fruits available:", total_fruits)

# Find fruits available in both baskets
both_baskets = basket1.union(basket2)
print("All the available fruits:", both_baskets)

# Find only the common fruits in both baskets
common_fruits = basket1.intersection(basket2)
print("Common fruits in both baskets:", common_fruits)

# Find fruits unique to each basket
unique_basket1 = basket1 - basket2
unique_basket2 = basket2 - basket1
print("Fruits unique to basket 1:", unique_basket1)
print("Fruits unique to basket 2:", unique_basket2)

Total number of fruits available: 6
All the available fruits: {'pineapple', 'apple', 'grape', 'orange', 'mango', 'banana'}
Common fruits in both baskets: {'banana', 'orange'}
Fruits unique to basket 1: {'apple', 'grape'}
Fruits unique to basket 2: {'mango', 'pineapple'}

##Space and Time Complexity
Both have the value of O(m+n) where m and n are sizes of the sets

# **Statements, Indentation & Conditionals**

## üëâ Imagine that you are a food inspector who is responsible for inspecting the lead content of a packaged food material at a factory. If the content exceeds 5%, you should print the message "This batch cannot be approved".

In [81]:
# Get the lead content of the packaged food material
lead_content = float(input("Please enter the lead content of the packaged food material in percentage: "))

# Check if the lead content exceeds 5%
if lead_content > 5:
  print("This batch cannot be approved")
else :
  print("This batch is good to go")

Please enter the lead content of the packaged food material in percentage: 7
This batch cannot be approved

##Space and Time Complexity
The overall space and time complexity of this code are both O(1)

## üëâ Imagine: You're a bouncer at a nightclub and need to check if someone is old enough to enter. The legal age for entry is 18 years. If the person is less than 18 years print "Sorry You can not enter!".

In [82]:
age = int(input("enter the age: "))


#Check the age of the guest
if age<18:
  print("Sorry You can not enter!")
else :
  print("Welcome to the club")

enter the age: 17
Sorry You can not enter!

##Space and Time Complexity
The overall space and time complexity of this code are both O(1)